body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 500px;
  padding: 10px;
}

h1 {
  color: #333;
  font-size: 1.5em;
}

.image-selection {
  margin-bottom: 20px;
}

#puzzle-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Ensures square shape */
  border: 4px solid #333;
  background-color: #fff;
  margin: 20px auto;
}

#puzzle-container::before {
  content: "เค้าขอโทดที่ทำให้แกผิดหวัง และให้ความหวังว่าจะไปหา แต่สุดท้ายก็ไปไม่ได้ เค้ารู้ว่าแกเสียใจมากๆผิดหวังในตัวเค้ามากๆ เค้าไม่ได้ตั้งใจจะทำให้แกรู้สึกไม่ดีหรือจะหลอกแกนะ เค้าตื่นเต้นที่จะไปหาแกมากๆแลยเป็นแบบนี้ ที่เค้าบอกว่าเค้าจะไปหาก็เพราะว่าคืนนั้นเค้าคุยกับป๊าแล้ว ป๊าก็โอเคแล้ว เลยบอกแกไปอย่างงั้น แต่เค้ามาขอแม่กลับไปไม่ได้ เค้าพยายามขอแม่ให้ได้แต่จะขอกี่รอบแม่ก็ไม่ให้ แม่บอกว่าเค้าเอาแต่ใจ เค้างี่เง่า ไปแล้วกลับมาแล้วก็ไม่ต้องไปอีก รอบหน้าค่อยไปใหม่ เค้าขอโทดที่ขอไปหาอีกรอบไม่ได้ เค้าคิดถึงแกมากๆนะ เค้าอยากไปเจอแกนะ ครั้งนี้เค้าทำตามที่พูดไว้ไม่ได้ เค้ายังเชื่อว่ายังไงมันก็ต้องมีเวลาที่เรา2คนจะว่างพร้อมกันอีกครั้งนะ เค้าแค่ได้อยู่กับแก ได้เห็นหน้า ได้สัมผัส เค้าก็ดีใจมากๆแล้ว เค้าขอให้เราผ่านเรื่องนี้ไปด้วยกัน เค้าจะไม่ทำให้แกผิดหวังในตัวเค้า จะพยายามคิดถึงความรู้สึกแกเยอะขึ้นอีก เค้ารักที่รักมากๆนะ 💖💖💖";
  font-size: 1em;
  color: rgba(0, 0, 0, 0.2);  /* Semi-transparent text */
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-15%, -50%);
  /* font-weight: bold; */
  z-index: 0; /* Ensures the label is in the background */
}

.puzzle-piece {
  position: absolute;
  width: 25%;
  height: 25%;
  background-size: 100% 100%;
  cursor: grab;
  /* Removed transition for smooth movement */
}

#shuffle-button,
#load-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#shuffle-button:hover,
#load-button:hover {
  background-color: #0056b3;
}

/* Keyframes for the pop-up animation */
@keyframes popUp {
  0% {
    transform: translateY(100%); /* Start from below */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Move to original position */
    opacity: 1;
  }
}

/* Make the puzzle container square */
@media (max-width: 600px) {
  #puzzle-container {
    padding-top: 100%;
  }
}
